<%- include('header') %>
<link rel="stylesheet" href="/css/home/all_bookings.css">
<main>
    <%- include('inner_header', {content: "/ My Organizations / " + org_name + " / All Bookings", href: "/home/my-organizations/" + org_name + "#all_bookings"}) %>
    <section class="header">
        <h1><%= date_string %></h1>
        <p>All the appointments recieved on this day, classified by slots.</p>
        <% if (error === true) { %>
            <div style="color:red;">Something went wrong, cancellation failed!</div>
        <% } %>
    </section>
    
    <section id="results">

        <% if (total_slots === 0) { %>
            <div class="empty-day">
                <img src="/images/home/bookings-empty.png">
                <p>There are no slots available on this day!</p>
            </div>
        <% } else { %>
            <% for (let i=1; i<=total_slots; i++) { %>
                <div class="slot_header">
                    <span class="time"><i class="bi bi-clock-fill"></i><%= slot_details[i].timing %></span>
                    <span class="slot_num"><%= slot_details[i].filled_bookings %> / <span><%= slot_details[i].total_available %></span></span>
                </div>
                <% if (slot_details[i].bookings.length === 0) { %>
                    <div class="empty-slot">
                        <img src="/images/home/bookings-empty.png">
                        <p>No bookings are made on this slot!</p>
                    </div>
                <% } else { %>
                    <% for (let j=0; j<slot_details[i].bookings.length; j++) { %>
                        <div class="result">
                            <div class="left-side">
                                <span class="name"><i class="bi bi-person"></i><%= slot_details[i].bookings[j].name %></span>
                                <span class="email"><i class="bi bi-envelope"></i><%= slot_details[i].bookings[j].email %></span>
                                <span class="id"><i class="bi bi-database"></i><%= slot_details[i].bookings[j].id %></span>
                            </div>
                            <% if (slot_details[i].cancellable === true) { %>
                                <div class="right-side" onsubmit="return confirm('Are you sure about cancelling the booking ?\nCancellation of the booking will be informed to the client through an email.')">
                                    <form method="post" action="/home/my-organizations/<%= org_name %>/all-bookings/cancel-one">
                                        <input type="text" name="id" value="<%= slot_details[i].bookings[j].id %>" hidden>
                                        <input type="text" name="date" value="<%= date %>" hidden>
                                        <button><i class="bi bi-x-circle"></i></button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>

    </section>
</main>
<script>

    
    function onLoad() {
        document.querySelector("nav a.item:nth-of-type(2)").classList += " active";
    }
    
</script>
<%- include('footer') %>