<%- include('header') %>
<link rel="stylesheet" href="/css/home/book_appointment.css">
<script src="/js/home/book_appointment.js"></script>
<main>
    <section id="banner">
        <h1>Choose an organization and a date.</h1>
        <form method="post">
            <div class="search-bar">
                <div class="name-area">
                    <input type="text" value="<%= org_name_before %>" placeholder="Search" id="name" name="org_name" autocomplete="off" required>
                    <div class="dropdown custom-slidebar custom-slidebar-thin"></div>
                </div>
                <input type="date" id="date" name="booking_date" value="<%= booking_date_before %>" required>
                <button>Search</button>
            </div>
            <% if (error_msg) { %>
                <div class="error-msg"><%= error_msg %></div>
            <% } %>
        </form>
    </section>
    <% if (result_header) { %>
        <section id="result-area">
            <h2><%= result_header %></h2>
            <% if (search_result) { %>
                <% for (let slotObj of search_result) { %>
                    <div class="result-single">
                        <form method="post" action="/home/book-appointment/book">
                            <input type="number" name="slot_no" value="<%= slotObj.slot_no %>" hidden>
                            <input type="date" name="booking_date" value="<%= booking_date_before %>" hidden>
                            <input type="text" name="org_name" value="<%= org_name_before %>" hidden>
                            <div class="col one">
                                <div class="time">time &nbsp;<span><%= addZero(slotObj.from_time[0])%>:<%= addZero(slotObj.from_time[1])%> - <%= addZero(slotObj.to_time[0])%>:<%= addZero(slotObj.to_time[1]) %></span></div>
                                <% if (slotObj.remaining === 0) { %>
                                    <div class="remaining" style="color: gray;">Fully booked</div>
                                <% } else { %>
                                    <% if (slotObj.remaining <= 10) { %>
                                        <div class="remaining" style="color: red;"><%= slotObj.remaining %> slots remaining</div>
                                    <% } else if (slotObj.remaining <= 20) { %>
                                        <div class="remaining" style="color: orange;"><%= slotObj.remaining %> slots remaining</div>
                                    <% } else { %>
                                        <div class="remaining" style="color: green;"><%= slotObj.remaining %> slots remaining</div>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="col two">
                                <div class="price">price &nbsp;<span>₹<%= slotObj.price %></span></div>
                                <% if (slotObj.remaining !== 0) { %>
                                    <div class="button"><button>book an appointment</button></div>
                                <% } %>
                            </div>
                        </form>
                    </div>
                <% } %>
            <% } else { %>
                <div class="empty-result user-flex-center">
                    <img src="/images/home/no-orgs.png">
                </div>
            <% } %>
        </section>
    <% } %>
</main>
<script>

</script>
<%- include('footer') %>