<%- include('header', {head_title: "My Bookings"}) %>
<link rel="stylesheet" href="/css/home/my_bookings.css">
<!-- <script src="/js/home/book_appointment.js"></script> -->
<main>
    <div class="header">
        <h1>My Bookings</h1>
        <p>All the active and cancelled appointments purchased by you.</p>
    </div>
    <section id="nav-area">
        <% if (instance === 1) { %>
            <div class="navbar left">
        <% } else if (instance === 2) { %>
            <div class="navbar right">
        <% } %>
            <div class="slider"></div>
            <% if (instance === 1) { %>
                <div class="item user-flex-center left">Upcoming</div>
                <a class="item user-flex-center right" href="/home/my-bookings?query=recent">Recent</a>
            <% } else if (instance === 2) { %>
                <a class="item user-flex-center left" href="/home/my-bookings?query=upcoming">Upcoming</a>
                <div class="item user-flex-center right">Recent</div>
            <% } %>
        </div>
    </section>

    <section id="results">
        <% if (result.length > 0) { %>

            <% for (let myBookingObj of result) { %>

                <% if (myBookingObj.type === 0) { %>
                    <div class="month-mark"><%= myBookingObj.content %></div>
                <% } else if (myBookingObj.type === 1) { %>
                    <div class="result three <%= myBookingObj.content.class_name %>">
                        <div class="date-area">
                            <span class="day"><%= myBookingObj.content.day_name %></span>
                            <span class="date"><%= myBookingObj.content.date %></span>
                            <div class="sep"></div>
                        </div>
                        <div class="content-area">
                            <div class="col">
                                <div class="item"><i class="bi bi-building"></i><span><%= myBookingObj.content.org_name %></span></div>
                                <div class="item"><i class="bi bi-clock-fill"></i><span><%= myBookingObj.content.time %></span></div>
                            </div>
                            <div class="col">
                                <div class="item"><i class="bi bi-currency-rupee"></i><span>200</span></div>
                                <div class="item"><i class="bi bi-info-circle"></i><span class="status <%= myBookingObj.content.class_name %>"><%= myBookingObj.content.class_name %></span></div>
                            </div>
                            <div class="col">
                                <div class="item id"><i class="bi bi-database"></i><span><%= myBookingObj.content.booking_id %></span></div>
                            </div>
                        </div>
                        <% if (myBookingObj.content.class_name === 'active') { %>
                            <div class="right-area user-flex-center">
                                <form method="post" action="/home/my-bookings/cancel" onsubmit="return confirm('Are you sure about cancelling bookings ?')">
                                    <input type="text" name="booking_id" value="<%= myBookingObj.content.booking_id %>" hidden>
                                    <button>cancel</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                <% } %>

            <% } %>

        <% } else { %>
            <div class="empty-div">
                <img src="/images/home/bookings-empty.png">
                <p>Empty search result!</p>
            </div>
        <% } %>

    </section>
</main>
<script>
    function onLoad() {
        document.querySelector("nav a.item:nth-of-type(3)").classList += " active";
    }
</script>
<%- include('footer') %>