<%- include('header') %>
<link rel="stylesheet" href="/css/home/single_org.css">
<script src="/js/home/single_org.js"></script>
<main>
    <%- include('inner_header', {content: "/ My Organizations / " + org_name, href: "/home/my-organizations/"}) %>
    
    <section id="weekly_schedule">
        <h1>Weekly Schedule</h1>
        <div class="table-container mt-4">
            <div class="table">
                <div class="top-row">
                    <i class="bi bi-caret-left left"></i>
                    <div class="box user-flex-center"></div>
                    <i class="bi bi-caret-right right"></i>
                    <a href="/home/my-organizations/<%= org_name %>/edit">Edit</a>
                </div>
                <div class="row top">
                    <span>S.No</span>
                    <span>From Time</span>
                    <span>To Time</span>
                    <span>Price</span>
                    <span>Slots</span>
                </div>
            </div>
        </div>
    </section>
    <section id="special_holidays">
        <h1>Special Holidays</h1>
        <div class="content mt-4">
            <div class="left-content">
                <div class="list">
                    <div class="top">
                        <div class="slide-butt">
                            <div class="slider user-flex-center"></div>
                            <div class="opt-1 user-flex-center"><span>upcoming</span></div>
                            <div class="opt-2 user-flex-center"><span>recent</span></div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item head">
                            <span>Date</span>
                            <span>Slots Removed</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="right-content">
                <h4>Add a holiday</h4>
                <form method="post" class="mt-3">
                    <label for="date">Date</label>
                    <input type="date" name="date" required>
                    <label for="slots" class="mt-3">Slots</label>
                    <input type="text" name="slots">
                    <p class="help-text">Keep the field empty for all slots. <br>Avoid comma at the end.</p>
                    <p class="mt-2 err-text"><%= addHolidayErrorMsg %></p>
                    <button class="mt-3 mb-2">ADD</button>
                    <p class="help-text"><span style="color:red;">NOTE: </span>This will permenantly remove all the appointments scheduled on that day.</p>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    
    var org_name = "<%= org_name %>";
    var weeklyScheduleData = <%- JSON.stringify(weeklySchedule) %>;
    var SpecialHolidaysUpcomingData = <%- JSON.stringify(upcomingHolidays) %>;
    var RecentHolidaysData = <%- JSON.stringify(recentHolidays) %>;

    document.onload = () => {
        onLoad();
    }
    
</script>
<%- include('footer') %>